//fonts
$font_0: Phetsarath_OT;

@font-face {
	font-family: $font_0;
	src: url(../fonts/phetsarath_ot.eot);
	src: url(../fonts/phetsarath_ot.eot?#iefix) format('embedded-opentype'), url(../fonts/phetsarath_ot.woff2) format('woff2'), url(../fonts/phetsarath_ot.woff) format('woff'), url(../fonts/phetsarath_ot.ttf) format('truetype'), url(../fonts/phetsarath_ot.svg#Phetsarath_OT) format('svg');
	font-weight: normal;
	font-style: normal;
}